html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 10px;
}

.dropdown > label {
  /* flex: 1 1 auto; */
  display: block;
  margin-bottom: 5px;
}
.dropdown > select {
  /* flex: 0 0 auto; */
  display: block;
  width: 100%;
  border-radius: 0px;
  /* border-width: 0px; */
  border-width: 1px 1px 1px 1px;
  box-shadow: none;
  /* background-color: white; */
  font-size: inherit;
}