.container {
  background-color: #30353e;
}
.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  flex: 1 1 70%;
}

.right {
  flex: 1 1 30%;
  border-top: 3px solid #272822;
}

.header {
  height: 3em;
}